{% extends 'swiftseqweb/base.html' %}
{% block content %}
<section class="swiftseq-section">
<div class="container">
    <div class="row swiftseq-text-centered">
        <h1>
            <a href="{{ relative_download_link }}" class="box-effect" download>Download</a>
            your configuration file
        </h1><h4>or</h4>
        <pre>wget {{ full_download_link }}</pre>
    </div>
</div>
</section>
<section class="swiftseq-section-bottom">
<div class="container">
    <div class="row swiftseq-text-centered">
        <h1>You're all set!</h1>
        <h3>Remember, if you need more help please see our
        <a href="#" class="box-effect">documentation</a>, execution
        <a href="#" class="box-effect">examples</a>, or contact us <a href="#" class="box-effect">here</a>.</h3>
    </div>
</div>
</section>

{% endblock content %}