{% load staticfiles %}
<footer class="swiftseq-footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-sm-offset-2">
                <h1>Contact us</h1>
                <ul>
                    <li><b>Knapp Center for Biomedical Discovery</b></li>
                    <li>900 E. 57th St</li>
                    <li>Chicago, IL 60637</li>
                    <li>Tel: (555)-555-1234</li>
                </ul><br/>
                <ul>
                    <li><b>Cancer Science Institute of Singapore</b></li>
                    <li>National University of Singapore</li>
                    <li>Centre for Translational Medicine,</li>
                    <li>14 Medical Drive, #12-01,</li>
                    <li>Singapore 117599</li>
                    <li>Tel: +65 6516 8055</li>
                </ul>
            </div>
            <div class="col-sm-3">
                <h1>Cool people and places</h1>
                <ul>
                    <li>University of Chicago</li>
                    <li>Institute for Genomics and Systems Biology</li>
                </ul>
            </div>
        </div>
        <div class="row swiftseq-section">
            <div class="col-sm-4 col-sm-offset-2">
                &copy;<script>document.write((new Date()).getFullYear())</script> Jason Pitt<br/>
                Website by Dominic Fitzgerald&nbsp;&nbsp;
                <a href="https://github.com/djf604"><span class="fa fa-github" style="color:rgba(231, 236, 239, 1)"></span></a>
            </div>
            <div class="col-sm-4 ">
                <img src="{% static 'images/uofc_logo_official.png' %}" style="max-height:50px" />
            </div>
        </div>
    </div>
</footer>