{% load staticfiles %}
<footer class="swiftseq-footer">
    <div class="container-fluid">
        <div class="row swiftseq-section-top">
            <div class="col-sm-4 col-sm-offset-2">
                <h1>Contact us</h1>
            </div>
        </div>

        <div class="row swiftseq-section-bottom">
            <div class="col-sm-4 col-sm-offset-2">
                <ul>
                    <li><b>Institute for Genomics and Systems Biology</b></li>
                    <li>Knapp Center for Biomedical Discovery</li>
                    <li>900 E. 57th St</li>
                    <li>Chicago, IL 60637</li>
                    <li>Tel: <a href="tel:7737026685" style="color:rgba(231, 236, 239, 1)">(773)-702-6685</a></li>
                </ul><br/>
                <ul>
                    <li><b>Cancer Science Institute of Singapore</b></li>
                    <li>National University of Singapore</li>
                    <li>Centre for Translational Medicine,</li>
                    <li>14 Medical Drive, #12-01,</li>
                    <li>Singapore 117599</li>
                    <li>Tel: <a href="tel:+65 6516 8055" style="color:rgba(231, 236, 239, 1)">+65 6516 8055</a></li>
                </ul><br/>
                &copy;<script>document.write((new Date()).getFullYear())</script> Jason Pitt<br/>
                Website by Dominic Fitzgerald&nbsp;&nbsp;
                <a href="https://github.com/djf604"><span class="fa fa-github" style="color:rgba(231, 236, 239, 1)"></span></a>
            </div>
            <div class="col-sm-4">
                <img src="{% static 'images/uofc_logo_official.png' %}"/><br/>
                <img src="{% static 'images/nus_logo_official.png' %}" style="max-width:200px;margin-top:25px"/>
            </div>
        </div>
    </div>
</footer>